CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_CL_SOM_IMX6UL=y
CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=arch/arm/imx-common/spl_sd.cfg,MX6UL,SPL"
CONFIG_SYS_PROMPT="CL-SOM-iMX6UL # "
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_I2C=y
CONFIG_CMD_NET=y
CONFIG_CMD_PING=y
CONFIG_CMD_SF=y
CONFIG_CMD_USB=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_WINBOND=y
