[Desktop Entry]
Name=Video Input Test
Comment=Shows ov5640-mipi input on screen.
Exec=/usr/local/bin/video-input
Icon=/usr/share/applications/video-input.png
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Audio;Player;
